@font-face {
  font-family: 'freebooter';
  src:font-url('freebooter.ttf') format("truetype");
}

@font-face {
  font-family: 'caviar';
  src:font-url('caviar.ttf') format("truetype");
}

@font-face {
  font-family: 'caviar_bold';
  src:font-url('caviar_bold.ttf') format("truetype");
}

@font-face{
  font-family: 'applause';
  src:font-url('applause.ttf') format("truetype");
}

.carousel-wrap
{
   height:1024px;
}

.carousel-img
{
  width: 400px !important;
}

.carousel-overlay
{
   position: absolute;
   margin-top:-50px;
   width: 100%;
   height: 100%;
   z-index: 100;
   background: transparent image-url("screens/nexus_sm.png") 0 0 no-repeat;
   background-size: 100% auto;
}
.home-bold-text
{
  font-family: 'caviar_bold';
}

.home-sub-text
{
   font-family: 'caviar';
   font-size:20px;
}
.home-logo, .home-logo:hover
{
    font-size: 60px !important;
    color: #fff !important;
    text-decoration: none;
    margin-top:45px !important;
}

.home-nav-sub-item
{
  color:#fff !important;
  text-decoration: none !important;
}

.home-nav-sub-item:hover
{
  color:#fff !important;
  text-decoration: underline !important;
}
.home-container
{
   width:970px !important;
}

.home-nav-sub
{
    margin-top:45px;
    color:#fff;
}

.home-content
{
   min-height: 600px;
}

.page-title
{
   font-family: 'freebooter';
}

.page-logo-size, .page-logo-size:hover
{
    font-size: 50px !important;
    color: #000;
    text-decoration: none;
}
.margin-top-100
{
   margin-top: 100px;
}

.margin-top-50
{
    margin-top: 50px;
}

.padding-top-25
{
    padding-top: 25px !important;
}
.margin-top-10
{
     margin-top: 10px;
}

.margin-top-inv-10
{
       margin-top: -10px;
}

.margin-bottom-10
{
     margin-bottom: 10px;
}

.margin-left-10
{
     margin-left: 10px;
}

.profile-img
{
  width: 140px !important;
  height: 140px !important;
}

.profile-img-small
{
  width: 40px !important;
  height: 40px !important;
}
.profile-img-mini
{
  width: 20px !important;
  height: 20px !important;
}

.time-ago
{
  color: rgb(147, 146, 146);
}


.video-dimen
{
  width: 100%;
  height: auto;
}

.content-holder
{
  position: absolute;
  width: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.google-play
{
  width:200px !important;
}
@media screen and (max-width: 600px) {

      .carousel-home
      {
         display:none;
      }
    .content-holder
    {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }

    .user-stats
    {
      width:100%;
      margin:0 auto !important;
    }
}

.applause-icon:before
{
  font-family: 'applause';
  content: '\e600';
}

.icon-font
{
  font-size: 25px;
}

.content-icon-font
{
  font-size: 20px !important;
}

.margin-bottom-25
{
  margin-bottom: 25px;
}

.user-stats
{
  width:40%;
  margin:0 auto !important;
}

.user-stats-font
{
  font-size: 15px;
}

.thumb-down-font
{
  font-size:25px;
}

.home-nav-bar
{
   background: #181818;
   border-bottom:0;
   margin-bottom:0;
   min-height: 115px;
}

.cta-a,.cta-a:hover
{
   color:#000;
   text-decoration:none;
}
