<% content_for :title, "Candeo Privacy and terms" %>
<% content_for :head do %>
  <meta property="og:type"   content="website" />
  <meta property="og:url"    content="<%= "#{DATABASE_CONF['base_url']}/privacy" %>" />
  <meta property="og:title"  content="Candeo Privacy and terms" />
  <meta property="og:image"  content="<%=image_url('screens/screen_1_sm.png')%>" />
  <meta property="og:description"  content="Candeo is a social talent discovery platform behaving like a persistent online talent show. You can post weekly performances to get voted and ranked at the end of the week. Have your own fan base or promote talent. Discover new people while celebrating talent." />

  <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@candeo2015">
    <meta name="twitter:creator" content="@candeo2015">
    <meta name="twitter:title" content="Candeo - Discovery flourishes talent! Weekly create, promote and share your talent wtih the world! Discover new talent too.">
    <meta name="twitter:description" content="Candeo is a social network focused around talent discovery and nurturing. It behaves like a persistent online talent show where you can perform every week, voted and get ranked at the end of the week. Plus you can promote and discover new talent also and grow your network.">
    <meta name="twitter:image" content="<%=image_path('screens/screen.png')%>">
<% end %>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <p class="page-title text-center"><a href="/" class="page-logo-size">Candeo</a></p>

  </div>
</nav>
<div class="container home-content margin-top-100">
    <div class="row">

    </div>
    <div class="row text-center">
        <h1 class="home-bold-text">Contact us for support, abuse or copyright infringement at</h1>
        <p class="text-center">
           <a href="mailto:hi@candeoapp.com"><h2>hi@candeoapp.com</h2></a>
        </p>
    </div>
    <div class="row text-center margin-top-50">
      <h3 class="home-bold-text"> Or catch us at</h3>
      <div class="col-sm-12">

           <div class="col-sm-4">
                  <a class="margin-left-10 social-buttons" href="https://www.facebook.com/candeo2015"><h1><i class="fa fa-facebook-official"></i></h1></a>
           </div>
           <div class="col-sm-4">
                  <a class="margin-left-10 social-buttons" href="https://twitter.com/@candeo2015"><h1><i class="fa fa-twitter-square"></i></h1></a>
           </div>
           <div class="col-sm-4">
              <a class="margin-left-10 social-buttons" href="http://candeoapp.tumblr.com/"><h1><i class="fa fa-tumblr-square"></i></h1></a>
           </div>

      </div>
    </div>
</div>
<footer class="text-center">
      <span>&#169; Candeo, 2015</span>
</footer>
